@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{

}

.col-md-3{
    background: #008AD8;
    margin-top: -19px;
    display: flex;
    width: 352px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.drag-area{
  border: 2px dashed #fff;
  height: 324px;
  width: 700px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drag-area.active{
  border: 2px solid #fff;
}

.drag-area .icon{
  font-size: 100px;
  color: #fff;
}

.drag-area header {
        font-size: 19px;
        font-weight: 500;
        color: #fff;
}

.drag-area span{
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.btn-primary {
    color: #2e6da4;
    background-color: #ffffff;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #008AD8;
    border-color: #204d74;
}


.submit {
    top: 523px;
    position: absolute;
}

.header{
background:#008AD8;
color:white;
border-radius: 5px;
}


table{
}

.rows{
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-sizing: border-box;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.myBox {
    margin: auto;
    border: 8px black;
    padding: 2px;
    font: 12px/15px sans-serif;
    width: auto;
    height: 564px;
    overflow: scroll;
}

.scrollbar-primary::-webkit-scrollbar {
width: 7px;
height:7px;
background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #4285F4;
}

button.predictbtn {
background: #008AD8;
    color: white;
    width:60px;
    border-block-style: none;
    position: relative;
    left: 760px;
    top: 12px;
    border-style: none;
    cursor: pointer;
}
select.selectprediction {
background: #008AD8;
color:white;
 border-block-style: none;
    position: relative;
    left: 754px;
    top: 12px;
    border-style: none;
    cursor: pointer;
}
option:hover {
    background: white;
    cursor: pointer;
}